<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="<?php echo base_url();?>assets/admin/X-admin/css/font.css">
	<link rel="stylesheet" href="<?php echo base_url();?>assets/admin/X-admin/css/xadmin.css">
    <script type="text/javascript" src="<?php echo base_url();?>assets/admin/js/jquery.min.js"></script>
    <script src="<?php echo base_url();?>assets/admin/X-admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="<?php echo base_url();?>assets/admin/X-admin/js/xadmin.js"></script>
    <script type="text/javascript" src="<?php echo base_url();?>assets/admin/js/wwh.js"></script>
	<script src="<?php echo base_url();?>assets/admin/js/vue.min.js"></script>
	<script src="<?php echo base_url();?>assets/admin/js/vue-resource.min.1.5.1.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
