<footer class="m-tabbar">
    <a href="<?php echo site_url();?>" class="tabbar-item <?php if(isset($menuAct)){if($menuAct==0){ echo 'tabbar-active';}}?> ">
        <span class="tabbar-icon">
            <i class="icon-home-outline"></i>
        </span>
        <span class="tabbar-txt">首页</span>
    </a>
    <a href="<?php echo site_url('Welcome/category');?>" class="tabbar-item <?php if(isset($menuAct)){if($menuAct==1){ echo 'tabbar-active';}}?>">
        <span class="tabbar-icon">
            <i class="icon-type"></i>
        </span>
        <span class="tabbar-txt">分类</span>
    </a>
    <a href="<?php echo site_url('Welcome/cart');?>" class="tabbar-item <?php if(isset($menuAct)){if($menuAct==2){ echo 'tabbar-active';}}?>">
        <span class="tabbar-icon">
            <i class="icon-shopcart"></i>
            <?php if($num>0){
            echo '<span class="badge badge-danger">'.$num.'</span>';
        } ?>
            
        </span>
        <span class="tabbar-txt">购物车</span>
    </a>
    <a href="<?php echo site_url('Welcome/user');?>" class="tabbar-item <?php if(isset($menuAct)){if($menuAct==3){ echo 'tabbar-active';}}?>">
        <span class="tabbar-icon">
            <i class="icon-ucenter-outline"></i>
        </span>
        <span class="tabbar-txt">个人中心</span>
    </a>
</footer>
</section>
</body>
</html>