<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>金钟高尔夫商城</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <!-- 引入YDUI样式 -->
    <link rel="stylesheet" href="<?php echo base_url();?>assets/ydui/build/css/ydui.css" />
    <!-- 引入YDUI自适应解决方案类库 -->
    <script src="<?php echo base_url();?>assets/ydui/build/js/ydui.flexible.js"></script>
    <!-- 引入YDUI脚本 -->
    <script src="<?php echo base_url();?>assets/admin/js/jquery.min.js"></script>
    <script src="<?php echo base_url();?>assets/ydui/build/js/ydui.js"></script>
    <script src="<?php echo base_url();?>assets/admin/js/vue.min.js"></script>

    
    
    

</head>
<body>
    <style> .m-navbar{background: #F5F5F5;}</style>
<section class="g-flexview" id="page">